<div class="ng-container">
  <input class='search-bar' type="text" [(ngModel)]="searchQuery" (keyup)="searchLocations()" placeholder="Search location"/>
    <div *ngIf="searchResults.length > 0">
      <ul>
        <li *ngFor="let result of searchResults" (click)="selectLocation(result)">
          {{ result.LocalizedName }}, {{ result.Country.LocalizedName }}
        </li>
      </ul>
    </div>
  </div>
  <div class="weather-container">
  <div class="weather-info" *ngIf="currentWeather">
    <div class="weather-icon">
      <img src= "assets/{{ code }}.png" alt="weather-icon">
    </div>
    <div class="weather-general-details">
      <p>{{ currentWeather.cityName }}</p>
      <p>{{ currentWeather.temperature.Metric.Value }}°C</p>
    </div>
    <div class="weather-txt center-text">
      <h2>{{ currentWeather.WeatherText }}</h2>
    </div>
    <div class="favorite-section">
      <span class="favorite-text">Add to Favorites</span>
      <span class="heart-icon" [class.fill]="isFavorite">
        <img *ngIf="!isFavorite" src="assets/heart/empty-heart.png" alt="Empty Heart" (click)="toggleFavorite()"/>
        <img *ngIf="isFavorite" src="assets/heart/filled-heart4.png" alt="Filled Heart" (click)="toggleFavorite()"/>
      </span>
    </div>
  </div>
  <div class="weather-forcast">
    <ng-container *ngIf="fiveDayForecast">
      <div class="forecast-flex-container">
        <div class="day" *ngFor="let day of fiveDayForecast">
          <div class="day-name">
            <p>{{ getDayName(day.Date) }}</p>
          </div>
          <div class="day-icon">
            <img src= "assets/{{ day.Day.Icon }}.png" alt="weather-icon">
          </div>
          <div class="day-temperature">
            <p>{{ day.Temperature.Maximum.Value }}°C</p>
          </div>
        </div>
      </div>
  </ng-container>
  </div>
</div>