.temp-selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}
.temp-selector>button{
    background-color:transparent;
    border: 1px solid black;
    border-radius: 5px;
}