<header>
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <label >WeatherApp</label>
        </div>
        <div class="temp-selector">
            <button class="switch" (click)="setMetric()" [disabled]="getIsMetric()">°C</button>
            <button class="switch" (click)="clearMetric()" [disabled]="!getIsMetric()">°F</button>
        </div>
        <div class="p-toolbar-group-end">
                <p-button label="Home" icon="pi pi-home" styleClass="p-button-success mr-2" (click)="navigateToWeatherPage()"></p-button>
                <p-button label="Favorite" icon="pi pi-heart" styleClass="p-button-warning mr-2" (click)="navigateToFavoritesPage()"></p-button>
        </div>
    </p-toolbar>
  </header>
  